body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    width: 100%;
    font-size: 16px;
}
.signup-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/signup.jpg");
}
.login-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/login.jpg");
    /*animation: changeBackground 10s infinite;*/
}
/*@keyframes changeBackground {
    0% {
        background-image: url('../images/fondohermoso1.jpg');
    }
    33% {
        background-image: url('../images/fondohermoso2.jpg');
    }
    66% {
        background-image: url('../images/fondohermoso3.png');
    }
    100% {
        background-image: url('../images/fondohermoso4.jpg');
    }
}*/
a {
    text-decoration: none;
    color: inherit;
}
.navbar {
    margin: 8px 0;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    color: #fff;
}
.formTitle{
    color: #FFA500;
    font-size: 4rem;
}

.signup-login-link {
    margin: 20px 0 0 0;
}

.signup-login-link a {
    color: #FFA500;
}

.signup-login-link a:hover {
    color: #099100;
}

.form {
    width: 350px;
    font-size: 20px;
}
.txt-field {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}
.txt-field  label{
    padding: 10px 5px;
}
.txt-field  input{
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 1.3rem;
    border-radius: 15px;
    border: 2px solid #0DD100;
    padding: 5px;
}
.containerBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 40px 0 0 0;
}
.formBtn {
    width: 150px;
    background: none;
    padding: 5px 10px;
    margin: 0 0 30px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    border: 5px solid #FFA500;
}
.formBtn:hover {
    background: #0DD100;
    border: 5px solid #0DD100;
}

.checkbox {
    /*margin: 20px 0 0 0;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.checkbox input {
    height: 15px;
    width: 15px;
}